body {
    padding-top: 5rem;
    background-color: #cbdddf;
}

.centered {
    margin: auto;
}

.center-div {
    margin: auto;
    width: 70%;
}


/*
 * Navigation Styling
 */
.nav-login-div {
    padding-right: 1rem;
}

.nav-login-button {
    width: 100px;
}
.shopping-cart {
    float: left;
    margin-right: 50px;
}
.shopping-cart-quantity {
    display: inline-block;
    font-weight: bold;

}


/*
 * Separator (divider) lines
 */
 hr.rounded {
    border-top: 4px solid #000;
    border-radius: 5px;
 }


 /*
  * Products Page
  */

.products {

}

.product-card {
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    width: 37rem;
    float: left;
}

#productImage, #productDesc, #productPrice {
    display: inline-block;

}
#productImage {
    border: 1px;
}

#productDesc {
    margin-left: 10px;
    vertical-align: top;
    width: 40%;
}

#productPrice {
    float: right;
}


.product-price-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;

}
.product-delivery-text {
    font-style: italic;
    margin-top: -5px;
}
