{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <h1 class="display-4">Welcome!</h1>
        <hr class="rounded"/>

        <p>
        Eius tempore eum maxime. Illo consequatur est animi quibusdam fugit culpa officiis voluptatem.
        Eaque voluptatem alias accusantium omnis expedita quis reprehenderit. Cupiditate est eum veritatis
        sunt repellendus blanditiis non. Officiis labore ab qui incidunt.

        Id velit quibusdam odit recusandae et minima consequatur. Quaerat dolorem maxime
        quo quia quis a. Quasi maiores quas necessitatibus in est. Iusto et et accusantium atque reprehenderit
        illum. Dicta eum rerum ut aut culpa possimus atque laudantium.

        Reprehenderit laboriosam illo qui quod est. Ut quos atque repellat veritatis vero ducimus omnis quisquam.
        Sequi earum veritatis dolore repellat consectetur consequatur tempora quaerat. Consectetur alias velit nihil quo.

        Accusamus asperiores est laborum quasi ut eos et recusandae. Eos ad ea explicabo.
        Totam veniam ut voluptatem non minima nobis consequatur quia.

        Amet rerum exercitationem aliquam ad nesciunt et saepe et. Eum ut quibusdam qui est sunt.
        Sapiente dicta corporis sed. Eligendi sit doloremque assumenda ipsum aut voluptatem tenetur. Facilis fugit dolorum eos. Rem corporis ullam deleniti vel id.
        </p>
    </div>
{% endblock content %}
