{% extends 'base.html' %}


{% block head %}
 <script src="https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.css">

  <script src="../static/scripts/firebaseAuth.js"></script>
{% endblock head %}


{% block content %}
    <div class="card login-container centered">
        <h1 class="display-6" style="text-align:center;color:#f7f7f7;">Login</h1>
        <button id="sign-out" type="button" class="btn btn-danger" hidden=true>Sign Out</button>
        <div id="firebaseui-auth-container" class="login-box">
        </div>

    </div>
{% endblock content %}


{% block end %}
    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-analytics.js"></script>
    <script src="../static/scripts/firebaseConfig.js">
    </script>
{% endblock end %}
