{% extends 'base.html' %}


{% block content %}

    <h1 class="display-4">Products</h1>
    <hr class="rounded"/>
    <div class="products">
        {% for product in products %}
            <div class="card product-card">
                <div class="card-header">
                    <h4 class="card-title">{{ product[1] }}</h4>
                    <h6 class="card-subtitle text-muted">{{ product[5] }}</h6>
                </div>

                <div class="card-body">
                    <div id="product-image">
                        <img src="../static/assets/{{ product[0] }}.jpg"  width="200" height="200"/>
                    </div>
                    <div id="product-desc">
                        <p class="card-text">{{ product[2] }}</p>
                    </div>

                    <div id="product-price">
                        <p class="card-text product-price-text">
                            £{{ product[3] }}
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary add-to-cart" style="display:none;"
                            onclick="onAddToCart('{{ product[0] }}', '{{ product[1] }}', '{{ product[3] }}')">Add to Cart</button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
